@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Gloria+Hallelujah&family=Josefin+Sans:wght@300&family=Kanit:wght@100&family=Monoton&family=Montserrat:wght@900&family=Playfair+Display:ital,wght@1,400;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}
html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}




.navbarcont{
    width: 100%;
    height: 10rem;
    /* background-color: rgb(233, 233, 241); */
    /* background-color: #181C26; */
    /* background: linear-gradient(to bottom, #181C26, #0D1016); */
position: relative;
    /* background-color: #181C26; */
    display: grid;
    /* position: fixed; */
    /* justify-content: space-between; */
    grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    position: sticky;
    top: 0;
    z-index: 100;
   
    /* box-shadow: 
    0px 1px 2px #EEC673, 
    0px 2px 4px #EEC673, 
    0px 4px 8px #EEC673, 
   0px 8px 16px #EEC673; */
}
.logo{
    display: grid;
    grid-column: 2/3;
    justify-content: start;
    /* background-color: aqua; */
    align-items: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);

}
.logo h{
    /* color: rgb(32, 36, 36); */
    color: #EEC673;
    padding: 10px;
    font-size: 50px;
    font-family: 'Monoton', cursive; 
}

.option{
    grid-column: 3/4;
    color: whitesmoke;

}
.option ul li:hover{
    cursor:pointer;
    /* background-image: linear-gradient(
        to right,
        black,
        gray 70%,
        
        #000 50%
      ); */
      /* background-color: aliceblue; */
      background-size: 200% 100%;
      background-position: -100%;
      display: inline-block;
      padding: 5px 0;
      position: relative;
      /* -webkit-background-clip: text; */
      /* -webkit-text-fill-color: transparent; */
      /* transition: all 0.2s ease-in-out; */

          
}

li:before{
    content: '';   
    /* background: #EEC673; */
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 3px;
    /* transition: all 0.5s ease-in-out; */
  }
  
  li:hover {
   background-position: 0;
  }
  
  li:hover::before{
    width: 100%;
  }

.option ul{
    
    height: 10rem;
    display: flex;
    justify-content: space-around;  
    align-items: center; 

}
.option ul li{
    font-size: 2rem;
    align-self: center;
}

.option ul li a{
    text-transform: capitalize;
    color: black;
    transform: 0.5s;
}
.option ul li:hover > a{
    transform-origin: left;
    /* color: blue; */
    text-decoration: underline;
    transition: .05s;
}
.social-media{
    grid-column: 4/5;
    
}
.social-media ul{
    height: 10rem;
    display: grid;
    grid-template-columns: 3fr repeat(3, 1fr);
    align-items: center !important;
}
.social-media ul li{
    text-align: right;
}
.social-media .Hamberger-menu{
    display: none;
}
.facebook {
    color: #EEC673;

    }
.instagram {
    color: #EEC673;
    }
.tweater{
    color: #EEC673;
}
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.9);
    align-self: right;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  
  .mobile-menu ul {
    list-style: none;
    color: #EEC673;
    text-align: center;
    height: 100%;
    /* background-color: red; */
    width: 100%;
  }
  
  .mobile-menu ul li {
    margin: 1rem;
    /* background-color: aliceblue; */
  }
  
  .mobile-menu ul li:hover {
    cursor: pointer;
    color: #eec673;
  }
  .Hamberger-menu{
    font-size: 2.5rem;
  cursor: pointer;
  position: absolute;
  top: 1rem; /* Adjust the vertical position as needed */
  right: 1rem; /* Adjust the horizontal position as needed */
  z-index: 101; /* Ensure the icon is above other elements */
  }
@media(max-width:1080px ){
    .navbarcont{
        height: 8rem;
        grid-template-columns: 2rem 3fr 3fr 1fr 2rem;
    }
.logo,
.option ul,
.social-media ul{
    height: 8rem;

    }
    .mobile-menu{
        visibility: none;
    }
}


@media(max-width: 998px){
    .navbarcont{
        height: 7rem;
        grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
    }
    .option{
        display: none;

    }
    .logo,
    .social-media ul{
        height: 7rem;
    }
   

    .mobile-menu-link ul {
        height: 20rem;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: start;
        }
        .mobile-menu-link ul li:first-child {
        transition-delay: 0s;
        }

    .social-media{
        grid-row: 1/2;
        grid-column: 3/5;
        justify-content: end;
        align-items: center;
        transition: all 2s linear;
    }
 
    .social-media .social-media-desktop{
        height: 0;
        display: none;
    }
    .social-media{
        height: 7rem;
        display: flex;
        justify-self: end;
    }
    .social-media .Hamberger-menu{
        display: block;
        font-size: 2.5rem;
    }
}

@media (min-width: 769px) {
    .mobile-menu {
      display: none;
    }
    .Hamberger-menu{
        display: none;
    }
  }