@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Gloria+Hallelujah&family=Josefin+Sans:wght@300&family=Kanit:wght@100&family=Monoton&family=Montserrat:wght@900&family=Playfair+Display:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Gloria+Hallelujah&family=Josefin+Sans:wght@300&family=Kanit:wght@100&family=Monoton&family=Montserrat:wght@900&family=Playfair+Display:ital,wght@1,600&display=swap');

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    background-color: #151821;
}

.slogan {
    position: absolute;
    margin-right: 40%;
    background-color: transparent;
    margin-top: 10%;
    font-size: 29px;
    width: 400px;
    height: auto;
    line-height: 40px;
    color: whitesmoke;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;

}

.slogan span {
    background-color: transparent;
    font-family: 'Kanit', sans-serif;
}

.contectHead {
    color: #EEC673;
    background-color: transparent;
    font-size: 30px;
    align-self: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 450px;
    width: 450px;
    position: absolute;
    margin-top: 400px;
    margin-left: 40%;
    border-radius: 5px;
    background-color:  #181C26;
    padding-bottom: 25px;
    padding-top: 25px;
    transform: translateY(-2px);
    box-shadow: 0px 5px 15px 0px  black;
}

.textfield {
    padding: 10px 15px 10px 15px;
    height: 40px;
    color: black;
    width: 300px;
    align-self: center;
    background-color: transparent;
    
    border: none;
    color: #EEC673;


}
.textfield:focus{
   border: none;
   color: #EEC673;
}

.massege {
    padding: 10px 15px 10px 15px;
    min-height: 100px;
    color: black;
    width: 300px;
    align-self: center;
    
    resize: none;
    border: none;
    color:#EEC673;

}

.massege::-webkit-scrollbar {
    display: none;
}

.sentbtn {
    width: 120px;
    height: 35px;
    background-color: #EEC673;
    border-radius: 5px;
    border: none;
    color: 151821;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-style: normal;
    align-self: center;

}
.sentbtn:hover{
    cursor: pointer;
    
}

.success-message {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .success-message.visible {
    opacity: 1;
  }

  