@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Gloria+Hallelujah&family=Josefin+Sans:wght@300&family=Kanit:wght@100&family=Monoton&family=Montserrat:wght@900&family=Playfair+Display:ital,wght@1,600&display=swap');
.myExpertise{
  margin-top: 100px;
  background: transparent;
}
.myExpertise h1{
  color: #EEC673;
  margin-bottom: 20px;
  font-size: 25px;
}

.explainer span{
     background-color: transparent;
     color: whitesmoke;
     font-family: 'Times New Roman', Times, serif;
}

.body{
  display: flex;
  flex-direction: column;
  
  font-family: "Raleway", sans-serif;
  background-image: radial-gradient(circle at center, #899Dc4, #495D84);
  background-size: cover;
  background-repeat: no-repeat;
  height: fit-content;
  
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: radial-gradient(ellipse at bottom, #1b2735, #090a0f);
  font-weight: 300;
}
.allele {
  display: flex;
  width: fit-content;
  /* background-color: #c00; */
  background-color: transparent;
  perspective: 10px;
  transform: perspective(300px) rotateX(20deg);
  will-change: perspective;
  perspective-origin: center center;
  transition: all 1.3s ease-out;
  justify-content: center;
  transform-style: preserve-3d;
  margin-bottom: 100px;
}
  
  .allele:hover {
    opacity: 0.9;
    perspective: 1000px;
    transition: all 1.3s ease-in;
    transform: perspective(10000px) rotateX(0deg);
  }
    .allele:hover .text {
    opacity: 1;
  }
  .allele:hover > div {
    opacity: 1;
    transition-delay: 0s;
    margin-top: 50px;
    transition: 1.s ease-in;
  }
  .allele:hover .explainer {
    opacity: 0;
  }
  
  .left, .center, .right, .lefter, .righter {
  width: 200px;
  height: 150px;
  transform-style: preserve-3d;
  border-radius: 10px;
  border: 1px solid #fff;
  box-shadow: 0 0 20px 5px rgba(100, 100, 255, 0.4);
  opacity: 0;
  transition: all 0.3s ease;
  transition-delay: 1s;
  position: relative;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-color: #58d; */
  background-color: #EEC673;
  cursor: pointer;
  background-blend-mode:hard-light;
 
  text-align: center;
    

}
  .left:hover, .center:hover, .right:hover, .lefter:hover, .righter:hover {
    box-shadow: 0 0 30px 10px rgba(100, 100, 255, 0.6);
    /* background-color: #ccf; */
    /* background-color: #EEC673; */
  
  }
  .text {
    text-align: center;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease;
    bottom: 0;
    left: 5px;
    position: absolute;
    will-change: transform;
    color: #fff;
    background-color: transparent;
    /* text-shadow: 0 0 5px rgba(100, 100, 255, 0.6); */
    /* margin-left: 28%; */
  }
  
.lefter {
  transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/organization-512.png);
}

.left {
  transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/creative_draw-512.png);
}

.center {
  opacity: 1;
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/app_window-512.png);
}

.right {
  transform: translateX(30px) translateZ(-25px) rotateY(5deg);
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/cloud_weather-512.png);
}

.righter {
  transform: translateX(60px) translateZ(-50px) rotateY(10deg);
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/search-512.png);
}

  
 
.explainer {
  font-weight: 300;
  font-size: 2rem;
  color: #fff;
  transition: all 0.6s ease;
  width: 100%;
  height: 100%;
  /* background-color: #303050; */
  background-image: radial-gradient(circle at center top, #cce, #33a);
  border-radius: 10px;
  /* text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); */
  display: flex;
  justify-content: center;
  align-items: center;

}
.ref {
  /* background-color: #000; */
  background-image: linear-gradient(to bottom, #d80, #c00);
  border-radius: 3px;
  padding: 7px 10px;
  position: absolute;
  font-size: 16px;
  bottom: 10px;
  right: 10px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
.ref::first-letter {
  font-size: 12px;
}
/* @media (max-width:1080px) and (min-width: 700px) { */
  
@media (max-width: 1600px) {
  
  
   .Expertizes{
    display: none;
   }
   .myExpertise h1{
        background-color: transparent;
   }
}
@media(max-width: 998px) {
        .body{
          display: none;
        }

      .Expertize_main_con{
          /* display: flex; */
          height: fit-content;
          flex-direction: column;
          justify-content: center;
          background-color: aqua;
          align-items: center;
      
      } 
      .Expertizes h1{
        margin: 20px;
        color: #EEC673;
        font-size: 20px;
        letter-spacing: 4px;
        word-spacing: 2px;
        

      }
      .Expertizes{
          display: flex;
          color: #fff;
          
          /* background-color: #c00; */
          align-items: center;
          height: fit-content;
          justify-content: center;
          flex-direction: column;
          
      }
      .all{
          
          height: fit-content;
          justify-content: space-between;
          align-items: center;
          width: auto;
          padding: 10px;
          /* transition: 5s; */
          transition-delay: 3s;
      }
      .Exdetail{
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid #EEC673;
        padding: 20px;
        margin-inline: 50px;
        height: 200px;
        border-radius: 10px;
        margin-bottom: 20px;
        background-color: #0c0f1a;

        
      }
      .all :hover{
        transform: 3px;
        box-shadow: 0px 0px 20px 5px #EEC673;
        transform: scale(1.1);
        -webkit-transition: all 0.3s ease-out;

        
      }
      .Exdetail h2{
          color: whitesmoke;
          background-color: #0c0f1a;
          
      }

      .Exdetail p{
          color: aliceblue;
          background-color: #0c0f1a;

      }
      .Exdetail img{
        background-color: #0c0f1a;
      }
      .Exdetail :hover {
        
        box-shadow:none;
        transform: none;

      }
  
}