
.containermain{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.containermain h1{
  display: flex;
  flex-direction: row;
  color: #EEC673;
  align-self: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 25px;

}
.container {
  width: 70%;
  /* position: relative; */
  z-index: 1;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
 
  padding: 20px; 
  align-self: center;

}
.card {
  width: 300px;
  height: 400px;
  justify-content: center;
  flex: 0 0 auto; 
  margin-right: 20px; 
  
}

.card:last-child {
  margin-right: 0;
}

.sci{
  background-color: transparent;
}
.sci li{
  height: 30px;
  width: 100px;
  padding: 10px;
  text-align: center; 
  margin: auto;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #181C26;
  display: inline-block;
  border-radius: 10px;
  
}
.sci a{
  background-color: transparent;
  align-items: center;
  
}
.sci a:hover{
  cursor: pointer;
}
.container .card {
  position: relative;
  width: 300px;
  height: 400px;
  background: rgba(255, 255, 255, 0.05);
  margin: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  border-radius:70% 30% 71% 29% / 30% 70% 30% 70%  ;

}

.container .card .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
  box-shadow: 0px 1px 2px rgba(0,255,255,0.5), 
  0px 2px 4px rgba(0,255,255,0.5), 
  0px 4px 8px rgba(0,255,255,0.5), 
  0px 8px 16px rgba(0,255,255,0.5);
}
.content{
  border-radius: 30px;
}
.container .card:hover .content {
  transform: translateY(-20px);
  border-radius: 30px;
}

.container .card .content .imgBx {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 30px;
}

.container .card .content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  
}

.container .card .content .contentBx h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1em;
  background: transparent;
}
.contentBx{
  background-color: transparent;
}
.container .card .content .contentBx h3 span {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
  background: transparent;
}

.container .card .sci {
  position: absolute;
  bottom: 50px;
  display: flex;
  
}

.container .card .sci li {
  list-style: none;
  margin: 0 10px;
  transform: translateY(40px);
  transition: 0.5s;
  background-color:#EEC673;
  opacity: 0;
  
}

.container .card:hover .sci li {
  transform: translateY(0px);
  opacity: 1;
}

.container .card .sci li a {
  color:#181C26;
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  padding: 5px;
  background: none;
}
.work-items {
  overflow-x: auto;
  white-space: nowrap;
}

.horizontal-scroll {
  display: flex;
  flex-direction: row;
  gap: 20px; 
  padding: 10px; 
}
.container::-webkit-scrollbar {
  width: 0px; 
}

.alert {
  background-color: #f8d7da;
  color: #721c24;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  position: relative;
}

.alert button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.LoadingSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #EEC673;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 600px) {
  /* .containermain{
       background-color: red;
    >.container{
        background-color: #f8d7da;
        >.card{
          position: static;
          z-index: inherit;

        }
    }
  } */


  /* FeturedWork.css */
.containermain {
  /* Your existing styles for the container */
}

/* Styles for Swiper container */
.swiper-container {
  margin-top: 20px; /* Adjust spacing as needed */
  width: 100%;
  height: auto;
}

/* Styles for Swiper slides */
.swiper-slide {
  position: absolute;
  width: 300px; /* Adjust card width as needed */
  height: 400px; /* Adjust card height as needed */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transform-origin: center bottom;
  transition: transform 0.3s ease-in-out;
}

/* Styles for Swiper slide images */
.swiper-slide .imgBx img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Styles for Swiper content */
.swiper-slide .content {
  text-align: center;
}

/* Styles for Swiper links */
.swiper-slide .sci {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* Style for preview and GitHub links */
.swiper-slide .sci a {
  display: inline-block;
  margin: 0 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.swiper-slide .sci a:hover {
  color: #EEC673; /* Hover color */
}
.swiper-slide.removed {
  transform: translateX(-100%) rotate(-30deg);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
}